
.feed {
    display: flex;
}

.feed-no-content {
    position: absolute;
    top: 40%;
    left: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed--charts--container {
}

.feed--charts {
    width: 600px;
    margin: 0 auto;
}

.feed-chart {
    background-color: #61dafb;
}

.feed-chart-titel {
    display: flex;
    justify-content: start;
    align-items: end;
}

.feed-chart-titel > h1 {
    margin-right: 20px;
    margin-bottom: 19px;
}

.feed-chart-titel > h5 {
    color: #b4b4b4;
}

.feed-chart-stocks-name {
    display: flex;
    align-items: end;
}

.feed-chart-stocks-name > h3 {
    margin-bottom: 15px;
    margin-right: 20px;
}

.feed-chart-stocks-name > a {
    color: #8d8d8d;

}

.feed--new--charts {
    margin: 20px 120px;
    padding: 10px;
    width: 915px;
    border-radius: 15px;
    box-shadow: 0 0 15px #b6b6b6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subBar {
    position: fixed;
    left: 75%;
    top: 2.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px #b7b7b7;
    padding: 20px;
    width: 300px;
    float: left;
    max-height: 90.5%;
    overflow: auto;
}

.subBar > h3 {
    color: #919191;
}

.layout {
    display: flex;
    justify-content: start;
}

/* Test loading screen */
@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

.loading-list {
    width: 100%;
    height: 100%;
}

.loading-list-item {
    height: 50px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    background-image: linear-gradient(to right, #f9f9f9 0%, #eeeeee 20%, #f9f9f9 40%);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    animation: shimmer 1s infinite;
}

.custom-link {
    color: black;
    text-decoration: none;
}