:root {
    --container-width: 100px;
    --dashboard-module-border-radius: 7px;

    --main-color: #ffffff;
    --light-color: rgb(255, 255, 255);
    --dark-color: #306b43;
    --header-color: #DDDDDD;
    --backgrond-color: #3e3e41;

    --button-text-color: #FFF5E6;
    --module-border-color: #939393;

    --lightest-orange: #FFC68E;
    --lightest-orange: #FFA74C;
    --lightest-orange: #FF8C00;
    --lightest-orange: #D2691E;
    --lightest-orange: #A0522D;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    width: 20%;
    margin-top: 5px;
    border: none;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 0.34);
    font-size: 13px;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px #d2d2d2;
    transition: all 0.1s ease-in-out;
}

button:hover{
    background-color: rgba(138, 138, 138, 0.34);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

/*
Loading animation
 */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
}

.loader {
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**
Chart
 */

.highcharts-background {
    fill: var(--light-color);
}