.studio--container {
    display: flex;
    height: 100%;
    width: 92%;
    margin-left: auto;
    margin-right: 1rem;
}

/**
Studio chart
 */

.studio--chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 95vh;
    width: 50%;
    margin: 1.5% 1% 1% 1%;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.studio-message-container {
    position: fixed;
    top: 20rem;
    left: 35rem;
    z-index: 3;

    transform: scale(0);
    transition: transform 0.3s ease-in-out;

    border-radius: 30px;
    padding: 1%;
    width: 20rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, #3bb273, #E1BC29, #e15554, #9569b9, #4d9de0);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;

    font-weight: bold;
    font-size: 1rem;
}

.studio-message-container.show {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.studio-message-container.hide {
    transform: scale(0);
}

.studio-error-message {
    color: #ffffff;
}

.studio-success-message {
    position: absolute;
    color: #ffffff;

    border-radius: 30px;
    width: 22em;
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, #3bb273, #E1BC29, #e15554, #9569b9, #4d9de0);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;

    font-weight: bold;
    font-size: 3em;
}

/**
Studio toolbar
 */

.studio--toolbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;

    height: 95vh;
    width: 50%;
    margin: 1.5% 1% 1% 1%;
}

.studio--toolbar--heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 13px;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 1em;
    background-color: #ffffff;

}

.studio--toolbar--input > input {
    width: 250px;
    border: none;
    border-bottom: 2px dashed #b4b4b4;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    outline: none;
    caret-color: #cbcbcb;
}

.studio--toolbar--input > input::placeholder {
    transition: all 0.2s ease-in-out;
}

.studio--toolbar--input > input:hover::placeholder {
    transition: all 0.2s ease-in-out;
    color: transparent;
}

.studio--toolbar--selects > select, .studio--toolbar--standards--selects > select, .studio--toolbar--standards--selects > select {
    text-align-last: center;
    padding: 0.5em 0.5em;
    margin: 20px 20px;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 30em;
    font-weight: bold;
    font-size: 15px;
    width: 10em;
    background-color: #e8e8e8;
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 3px 3px #c2c2c2;
}

.studio--toolbar--selects > select:hover, .studio--toolbar--standards--selects > select:hover, .studio--toolbar--standards--selects > select:hover {
    background-color: #d3d3d3;

}

.studio--toolbar--selects {
    display: flex;
}

.studio--category--axis--inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin-bottom: 1em;
    background-color: #ffffff;

}

.studio--category--axis--inputs > input {
    border: none;
    margin: 1em;
    padding: 0.5em 0.5em;

    font-size: 15px;
    font-weight: bold;
    text-align: center;

    outline: none;
    caret-color: #cbcbcb;
    border-radius: 30em;
    width: 15em;

    background-color: #e8e8e8;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 3px 3px 3px #c2c2c2;
}

.studio--category--axis--inputs > input::placeholder {
    color: #888888;
}

.studio--toolbar--columns {
    display: flex;
    justify-content: space-around;
    height: 31em;
    background-color: #cbcbcb;
    border-radius: 1em 1em 0 0;
    box-shadow: 0 0 4px #676767;
}

.studio--category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 31em;
    border-right: 1px solid #cbcbcb;
}

.studio--category-container > h2 {
    color: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 2.1em;
}

.studio--category-count-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    width: 19em;
    border-bottom: 1px solid gray;
}

.studio--category-count-btn > button {
    margin: 0 1em;
    width: 7em;
    height: 2em;

    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    border: none;

    background-color: #dedede;
    font-size: 15px;

    padding: 5px 10px;
    box-shadow: 2px 2px 4px #9a9a9a;
}

.studio--category-count-btn > button:hover {
    transition: all 0.3s ease-in-out;
    background-color: #e7e7e7;
}


.studio--category-input-fields::-webkit-scrollbar {
    display: none;
}

.studio--category-input-fields {
    overflow: auto;
    height: 24em;
    width: 15em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.studio--category-input-fields > input {
    display: flex;
    flex-direction: column;
    margin: 1em 0;


    height: 2em;

    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
    outline: none;
    caret-color: #cbcbcb;

    background-color: #e1e1e1;
    box-shadow: inset 3px 3px 3px #a6a6a6;
}

.studio--dataset-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 45%;
    height: 29em;
    margin-top: 1em;
    margin-right: 1em;

    background-color: #ffffff;
    border-radius: 1em;
}


.studio--dataset-tabs-btn {
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0.5em 0;
    width: 16em;
    height: 3em;
    overflow-x: auto;
    white-space: nowrap;

    border-radius: 3em;
    box-shadow: inset 5px 2px 10px #ffffff;
    background-size: 100%;
    border: none;
    background-clip: content-box;


    mask-image: linear-gradient(
            100grad,
            transparent,
            white,
            white,
            white,
            white,
            white,
            transparent
    );

}

.studio--dataset-tabs-btn::-webkit-scrollbar {
    display: none;
}

.studio--dataset-tabs-btn > button {
    font-size: 15px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    border: none;

    background-color: #dedede;

    padding: 5px 10px;
    box-shadow: 2px 2px 4px #9a9a9a;
}

.studio--dataset-tabs-btn > button:hover {
    transition: all 0.3s ease-in-out;
    background-color: #c9c9c9;
}

.studio--dataset--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17em;
    height: 3.4em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid gray;
}

.studio--dataset--buttons > button {
    margin: 0 0.5em;
    width: 9em;
    height: 2em;

    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    border: none;

    background-color: #eeeeee;
    font-size: 13px;

    padding: 0 0.5em;
    box-shadow: 2px 2px 4px #9a9a9a;
}

.studio--add-dataset-btn > button:hover {
    transition: all 0.3s ease-in-out;
    background-color: #cbcbcb;
}

.studio--dataset-input-name {
    display: flex;
    justify-content: center
}

.studio--dataset-tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21.4em;
    width: 15em;

}

.studio--dataset-input-name > input {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 16em;

    height: 2em;

    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 10px;

    font-weight: bold;
    font-size: 15px;
    text-align: center;
    outline: none;
    caret-color: #cbcbcb;

    background-color: #c2c2c2;
    box-shadow: inset 3px 3px 3px #8d8d8d;
}

.studio--dataset-input-name > input::placeholder {
    color: #e7e7e7;
}

.dataset-input-fields {
    overflow: auto;
    height: 17.4em;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.dataset-input-fields > input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    height: 2em;

    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
    outline: none;
    caret-color: #cbcbcb;

    background-color: #e1e1e1;
    box-shadow: inset 3px 3px 3px #a6a6a6;
}

.studio--submit {
    display: flex;
    justify-content: center;
    height: 4em;
    border: none;
    border-radius: 0 0 0.5em 0.5em;
    background-color: white;
    box-shadow: 0 2px 4px #7c7c7c;
}

.studio--submit > button {
    border: none;
    font-size: 1.5em;
    background: linear-gradient(45deg, #3bb273, #E1BC29, #e15554, #9569b9, #4d9de0);
    background-size: 400% 400%;
    background-clip: text;
    animation: gradient 15s ease infinite;
    color: transparent;
    width: 100%;
    border-radius: 0 0 0.3em 0.3em;
}

.studio--submit > button:hover {
    color: white;
    background: linear-gradient(45deg, #3bb273, #E1BC29, #e15554, #9569b9, #4d9de0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

