.studio-message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.studio-message-container.show {
    opacity: 1;
}

.studio-error-message {
    color: red;
}

.studio-success-message {
    color: green;
}