<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - OnlyFin</title>
    <link rel="stylesheet" href="/assets/index/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/index/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/index/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/index/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/index/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler d-none" data-bs-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand"><a class="nav-link active js-scroll-trigger" href="#page-top">OnlyFin</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image: url('/assets/index/img/index.jpg')">
        <div class="container my-auto text-center">
            <h1 class="mb-1" style="color: #c5ebff">OnlyFin</h1>
            <br>
            <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Find Out More</a>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="services" class="content-section bg-primary text-white text-center">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0"></h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Beautiful graphs</strong></h4>
                    <p class="mb-0 text-faded">Looks great on any screen size!</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>The best analysis</strong></h4>
                    <p class="mb-0 text-faded">Source: trust me</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-like"></i></span>
                    <h4><strong>Favorite</strong></h4>
                    <p class="mb-0 text-faded"><span>Millions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="far fa-star"></i></span>
                    <h4><strong>See past performance</strong></h4>
                    <p class="mb-0 text-faded">Never get surprised by bad performance again</p>
                </div>
            </div>
        </div>
        <section class="content-section bg-primary text-white">
            <h2 class="mb-4">Sign up today for free*</h2>
            <div class="container text-center"><a class="btn btn-light btn-xl me-4" role="button" href="/register">Register account</a></div>
        </section>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://twitter.com/search?q=finanstwitter"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://github.com/philipcoroiu/OnlyFin"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© OnlyFin 2023</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <script src="/assets/index/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/index/js/stylish-portfolio.js"></script>
</body>

</html>