.studio-container{
    border: 1px solid white;
    display: inline-flex;
}
.category-container{
    border: 1px solid white;
    width: 500px;
    height: 500px;
}
.dataset-container{
    border: 1px solid white;
    width: 500px;
    height: 500px;
}
.category-input-fields input{
    display: block;
}

.dataset-input-fields input{
    display: block;
}